{% set id = 'element-' ~ random() %}
<div id="{{ id }}" style="position: relative">
    <input type="file" name="{{ uploadKey }}" style="position:absolute;top:-10000px"/>
    <button type="button" id="{{ id }}-upload-button" class="btn btn-primary">Select file</button>
</div>
<script src="{{ baseUrl('bower_components/file-upload-js/FileUpload.js') }}"></script>
<script>
(function (FileUpload) {
    jQuery(function ($) {
        var container = $('#{{ id }}');
        var fileInput = container.find('[name="{{ uploadKey }}"]');
        var uploadButton = container.find('#{{ id }}-upload-button');

        uploadButton.on('click', function () {
            fileInput.click();
        });

        container.on('change', '[name="{{ uploadKey }}"]', function () {
            var elem = $(this);

            uploadButton.addClass('loading').attr('disabled', true);
            $('{{ fileNameSelector }}').text('Please wait...');

            fileInput = $('<input type="file" />').css({
                position: 'absolute',
                top: -10000
            })
            fileInput.attr('name', elem.attr('name'));
            fileInput.insertBefore(elem);
            fileInput.hover(function () {
                uploadButton.addClass('active');
            }, function () {
                uploadButton.removeClass('active');
            });

            var uploadUrl = "{{ uploadUrl }}";
            // inform that IFRAME transport is used
            uploadUrl += (uploadUrl.indexOf('?') === -1 ? '?' : '&') + 'iframe=1';

            var upload = new FileUpload.FileInputUpload(this, uploadUrl);
            upload.on('success', function (response) {
                if (typeof response === 'string') {
                    response = $.parseJSON(response);
                }
                if (response.error) {
                    $('{{ fileNameSelector }}').text('Error: ' + response.error);
                    return;
                }
                if (response.upload_id) {
                    $('[name="{{ elem.name }}"]').val(response.upload_id);
                    $('{{ fileNameSelector }}').text(response.filename);
                }
            });
            upload.on('error', function (response) {
                if (typeof response === 'string') {
                    response = $.parseJSON(response);
                }
                if (response.error) {
                    $('{{ fileNameSelector }}').text('Error: ' + response.error);
                    return;
                }
            })
            upload.on('complete', function () {
                uploadButton.removeClass('loading').attr('disabled', false);
                upload = null;
                fileInput.show();
            });
            upload.send();
        });
    });
})(FileUpload);
</script>